body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

h2 {
    margin: 0;
}

.title {
    cursor: pointer;
    text-decoration: none;
    color: inherit; /* Mantener el color del texto original */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav a:hover {
    border-bottom: 2px solid #fff;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh; /* 100% del alto de la ventana */
}

form {
    background-color: #fff; /* Color de fondo del formulario */
    padding: 20px;
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    width:350px;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
}

form h1 {
    text-align: center;
}

/* Otros estilos para el formulario según tus necesidades */
form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Agregar un borde */
    border-radius: 5px; /* Redondear los bordes */
    font-size: 16px; /* Tamaño de fuente */
    color: #333; /* Color de texto */
    background-color: #fff; /* Color de fondo */
}

form select{
    margin-bottom:10px;
    padding: 10px; /* Agregar espacio interno */
    border: 1px solid #ccc; /* Agregar un borde */
    border-radius: 5px; /* Redondear los bordes */
    font-size: 16px; /* Tamaño de fuente */
    color: #333; /* Color de texto */
    background-color: #fff; /* Color de fondo */
}

form textarea{
    border: 1px solid #ccc; /* Agregar un borde */
    border-radius: 5px; /* Redondear los bordes */
    font-size: 16px; /* Tamaño de fuente */
    color: #333; /* Color de texto */
    background-color: #fff; /* Color de fondo */
}

form button {
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

form button:hover {
    background-color: #0056b3; /* Cambia el color al pasar el ratón */
}

form p {
    text-align: center;
}

form small{
    color:#DD2700;
    margin-top:4px;
    margin-bottom: 6px;
}

div.container-btns{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

div.column{
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items:center;
}

div.column button{
    margin-top: 6px;
}

div.flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

form.form-gestionar{
    width:1000px;
}

table {
    background-color: #fff; /* Color de fondo del formulario */
    padding: 20px;
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    width: 1000px;
}

table button{
    background-color: #DD2700; /* Color de fondo del botón */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left:auto;
}

table button:hover{
    background-color: #ff0000;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd; /* Borde de las celdas */
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.descripcion{
    overflow-y: auto;
    width:200px;
}

h3{
    color:#4CAF50;
}


button {
    padding: 5px 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

footer {
    background-color: #333; /* Color de fondo del footer */
    color: #fff; /* Color del texto */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}